@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<h1>جدیدترین ها</h1>
<hr />

<div class="grid">
    <div class="grid-item">
        <img src="~/images/blogsImg/pic1.png" />
        <p>
            توضیحات بیشتر درباره این پست
        </p>
        <a>ادامه مطلب</a>
    </div>
     <div class="grid-item">
        <img src="~/images/blogsImg/pic1.png" />
        <p>
            توضیحات بیشتر درباره این پست
        </p>
        <a>ادامه مطلب</a>
    </div>
     <div class="grid-item">
        <img src="~/images/blogsImg/pic1.png" />
        <p>
            توضیحات بیشتر درباره این پست
        </p>
        <a>ادامه مطلب</a>
    </div>

</div>


<h1><a href="~/Home/post">مشاهده پست</a></h1>