<!DOCTYPE html>

<html lang="fa" dir="rtl">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/css/mainstyle.css" rel="stylesheet" />
</head>
<body>
    @*header*@
    <header>
        <h1>دبیرستان فنی فناوران</h1>
        <h3>وبلاگ دانش آموزی فناوران</h3>
    </header>
    @*main menu*@
    <div class="top-menu">
        <a><span></span>صفحه نخست</a>
        <a><span></span>آرشیو</a>
        <a><span></span>درباره ما</a>
        <a><span></span>تماس با ما</a>

        <input type="text" placeholder="جستجو..."/>
    </div>

    <div>
        @RenderBody()
    </div>

    @*footer*@
    <footer>
        <h5>
            نشانی : گیلان رودسر رامدشت انتهای کوچه جهاد کشاورزی دبیرستان های حافظ و فناوران
            <br />
            شماره تماس : 01344885597 
        </h5>
    </footer>

</body>
</html>
