<!DOCTYPE html>

<html lang="fa" dir="rtl">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body style="background-color:#D5FFD0">
    @*header*@
    <header style="background-color:#0C356A; color:#D5FFD0; padding:15px 10px">
        <h1>دبیرستان فنی فناوران</h1>
        <h3>وبلاگ دانش آموزی فناوران</h3>
    </header>

    <div>
        @RenderBody()
    </div>

    @*footer*@
    <footer>
        <h5>
            نشانی : گیلان رودسر رامدشت انتهای کوچه جهاد کشاورزی دبیرستان های حافظ و فناوران
            <br />
            شماره تماس : 01344885597
        </h5>
    </footer>

</body>
</html>
